<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="upload-form" action="/b/upload/image" method="post" enctype="multipart/form-data" >
      　　　<input type="file" id="upload" name="upload" /> <br />
      　　　<input type="submit" value="Upload" />
      </form>
  </body>
</html>
